

{% extends "base/base.html" %}
  {% block start  %}
    <div class="container">
        


        <h1>this is receipe </h1>

            <div class="container mt-5">
                <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2>Add to receipe</h2>
                    <hr>
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Receipe name</label>
                    <input type="text" required name="receipe_name" class="form-control" >
                    </div>
                    <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Receipe description</label>
                    <textarea name="receipe_description" required class="form-control"></textarea>

                    
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Receipe image</label>
                        <input type="file" name="receipe_image"  class="form-control-file" id="exampleFormControlFile1">
                    </div>

                    <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
                </form>

            </div>

            <div>

              <form action="">
                <div class="mt-5">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Search Food</label>
                    <input type="text" name="search" class="form-control" >
                    <button class=" text-center btn btn-primary m-2">Search</button>
                    </div>
                    
                </div>
              </form>
                <table class="table table-bordered">
                    <thead class="thead-dark" >
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">receipe_name</th>
                        <th scope="col">receipe_description</th>
                        <th scope="col">receipe_image</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for receipe in receipes %}
                        
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td scope="row">{{receipe.receipe_name}}</td>
                        <td scope="row">{{receipe.receipe_description}}</td>
                        <td scope="row">
                          {% if receipe.receipe_image %}
                          <img src="{{ receipe.receipe_image.url }}" width="100" height="100">
                          {% else %}
                          No image available
                          {% endif %}
                        </td>
                        <td scope="row"> 
                          <a href="/delete-receipe/{{receipe.id}}/"  class=" text-center btn btn-danger m-2" >Delete</a>
                          <a href="/update-receipe/{{receipe.id}}/"  class=" text-center btn btn-success m-2" >Update</a>  
                        </td>
                      </tr>

                      {% endfor %}
                    </tbody>
                  </table>
            </div>

</div>
{% endblock  %}